$color-1: #ffe1d1;
$color-2: #ffdbca;



body {
    font-family: Alegreya, serif;
    // background: linear-gradient(to left, $color-1, $color-2);
    // overflow: hidden;
    margin:0;
  }

header{
      display: grid;
      grid-template-columns:20% 1fr;
      align-content: center;
      font-weight: 700;
      font-size: 20px;
  }

.header-logo{
    align-self: center;
    justify-self:center;
}

.header-letter{
    font-size: 30px;
    color:#6a4a39;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: .7;
    list-style: none;
    &-item{
        margin:0 47px;
    }
}

.menu-item:last-of-type{
    color:#ff7676;
    border-bottom: 4px solid #f8d1be;
}

// Hero Section

.container{
    max-width: 1500px;
    margin:0 auto;
    background: linear-gradient(to left, $color-1, $color-2);
}

.hero_container{
    position: relative;
    min-height:550px;
    display:grid;
    grid-template-areas: 
    "lamp title sun sun"
    "lamp title sun sun";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(0px,auto));
    border-bottom: 1px solid #ff8989;
}

.lamp{
    grid-area: lamp;
    height:auto;
    justify-self: end;
    align-content: end;
    position: absolute;
    bottom:-350px;
}

#wave1,
#wave3,
#wave5{
    opacity: .8;
    visibility: hidden;
}

#waves{
    justify-self: end;
    max-width: 1500px;
    width:100%;
    grid-column:1/5;
    align-self: end;
    grid-row: 2/2;
}

.container_sun{
    grid-area:sun;
    align-self: end;
    justify-self: start;

    img{
        max-width: 400px;
        min-width:200px;
        width:100%;
    }
}

#planes{
    width:100%;
    grid-area: sun;
    justify-self: start;
    align-self: end;
}

.hero_cta{
    grid-area: title;
    justify-self: end;
    align-self: center;
}

.cta_title{
    font-size: 60px;
    line-height: 69px;
    font-weight: 700;
}

.cta_description{
    font-size: 20px;
    color:#333333;
    margin-bottom: 2rem;
}

.cta_btn{
    width:200px;
    height:44px;
    position:absolute;
    bottom:-23px;
    cursor: pointer;
    background:rgb(51,51,51);
    box-shadow: rgba(255,163,148,.1) 0px 5px 10px;
    border:none;
    border-radius: 5px;
    font-family: Alegreya;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}